@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset & Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth font rendering */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: white;
  color: #1f2937;
  /* Tailwind gray-800 */
}

/* Support for dark mode */
.dark body {
  background-color: #111827;
  /* gray-900 */
  color: white;
}