[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
drf-spectacular = "*"
python-decouple = "*"
pyjwt = "*"
drf-nested-routers = "*"
python-dotenv = "*"
gunicorn = "*"
pillow = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.14"
